html,
body {
    height: 100%;
    margin: 0px;
}

.div-center {
    margin: auto !important;
}

.signIn {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.signLeft {
    width: 50%;
    background: #120136;
    padding: 110px 50px;
}

.signright {
    width: 50%;
    background: rgba(203, 240, 249, 0.34);
    padding: 30px 20px 0px 20px;
}

.head {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #83DBEF;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: #83DBEF;
}

.signUpBtn {
    color: #120136;
    background: #FCBF1E;
}

nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 30px;
}

nav,
a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #120136;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

nav li:hover {
    font-family: Roboto;
    color: #83DBEF;
    background: #120136;
    font-size: 10px !important;
    line-height: 15px !important;
    border-radius: 0px 5px 5px 5px;
    transition: all 0.3s ease;
}

.signInbtn {
    background: #120136;
    color: #83DBEF;
}

.genBtn {
    border-radius: 0px 5px 5px 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

form {
    padding: 100px 50px 0px 60px;
}

.custlabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #120136;
}

.grppasswrd {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.forgtpass {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #45414D;
}

.forgtpass:hover {
    color: #120136;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 300;
}

.custInput {
    background: #EAE7E7;
    /* border: 2px solid rgba(3, 90, 166, 0.4); */
    box-sizing: border-box;
    border-radius: 0px 5px 5px 5px;
}

input[type=text]:focus {
    color: #120136;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.blue-snackbar {
    background: #120136;
    color: #83DBEF;
}

.checkpass {
    padding-top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #45414D;
}

@media only screen and (max-width: 960px) {
    .signLeft {
        display: none;
    }
    .signright {
        width: 100%;
    }
    nav {
        display: block ruby;
    }
    nav,
    a {
        font-size: 18px;
        padding-left: 10px;
        cursor: pointer;
    }
}