<section class="reset1">
    <div class="reset2">
        <nav>
            <li><a (click)="moveToHome()">Home</a></li>
            <li><a (click)="moveToSignIn()">Sign In</a></li>
        </nav>

        <p class="resethead">Reset your password</p>


        <div class="col-md-6 classform">


            <div class="form-group">
                <label class="custlabel" for="email">Email</label>
                <input type="email" class="form-control custInput" [(ngModel)]='email'>
            </div>

            <button class="btn genBtn signInbtn" type="submit" (click)="resetPassword()">Reset Password</button>

        </div>
    </div>

</section>