<section class="signIn">
    <div class="bigBox0">
        <nav>
            <li><a (click)="moveToSignIn()">Sign In</a></li>
            <li><a (click)="moveToSignUp()">Feed-Backs</a></li>
        </nav>

        <div>
            <div>
                <p class="head">Basic <br>Authentication <br>and <br>User Experience</p>
                <img class="img2" src="/src/assets/image/Group 2.png" alt="">
            </div>

            <p class="text">Not yet a member ? </p>
            <button class="btn signUpBtn genBtn">Sign Up</button>
            <img class="img3" src="/src/assets/image/Group 3.png" alt="">
        </div>
    </div>

    <div class="bigBox1">
        <div class="box11"></div>
        <div class="box12"></div>
    </div>

    <div class="bigBox2">
        <div class="box21"></div>
        <div class="box22">
            <img class="img1" src="/src/assets/image/Group 1.png" alt="">
        </div>
    </div>

</section>

<!-- <section class="about">

</section>

<section class="feedbacks">

</section>
<app-footer></app-footer> -->