html,
body {
    height: 100%;
    margin: 0px;
}

.div-center {
    margin: auto !important;
}

.head {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #83DBEF;
    margin-top: 60px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: #83DBEF;
    margin-top: -20px;
}

.signUpBtn {
    color: #120136;
    background: #FCBF1E;
    z-index: 10;
    position: relative;
}

.genBtn {
    border-radius: 0px 5px 5px 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.signIn {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.bigBox0 {
    width: 66%;
    background: #120136;
    padding-left: 70px;
    padding-top: 30px;
}

.bigBox1 {
    background: #120136;
    width: 17%;
    display: grid;
}

.bigBox2 {
    background: #FCBF1E;
    width: 17%;
    display: grid;
}

.box11 {
    background: #40BAD5;
}

.box12 {
    background: #035AA6;
    border-radius: 0px 0px 0px 230px;
}

.box22 {
    background: #83DBEF;
    border-radius: 0px 230px 0px 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.box21 {
    background: #FCBF1E;
}

.img1 {
    height: 160px;
    margin-left: 46px;
    position: absolute;
    margin-top: 20px;
}

.img2 {
    height: 160px;
    position: relative;
    margin-left: 480px;
    margin-top: -680px;
}

.img3 {
    height: 160px;
    position: absolute;
    margin-top: -12px;
    margin-left: -40px;
}

nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: -35px;
}

nav,
a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #83DBEF;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    cursor: pointer;
}

nav li:hover {
    font-family: Roboto;
    color: #120136;
    background: #83DBEF;
    border-radius: 0px 5px 5px 5px;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 960px) {
    .bigBox0 {
        width: 100%;
        background: #120136;
        padding-left: 35px;
        padding-top: 30px;
        font-size: 20px;
        height: inherit;
    }
    .head {
        font-size: 40px;
        line-height: 55px;
        margin-top: 40px;
    }
    .bigBox1,
    .img3,
    .img2,
    .bigBox2 {
        display: none;
    }
}